@import "../../styles/variables"

.counter-list
  display: flex
  margin: 0 20px
  flex-wrap: nowrap
  height: 100%
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: -ms-autohiding-scrollbar

  &::-webkit-scrollbar
    display: none

  > *
    margin: $indent-base 0