@import "../../styles/variables"

.counter-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: $indent-base $indent-lg

  &::-webkit-scrollbar
    display: none

  > *
    margin: $indent-base 0